{:name    "toreadee"
 :columns [[:id :int :null false :pk true :autoinc true]
           [:title [:varchar 300] :null false]
           [:link [:varchar 1000] :null false]
           [:description :text]
           [:done :boolean :null false :default false]
           [:tags :text]
           [:author [:varchar 100]]
           [:added_at :timestamp :null false]
           [:user [:varchar 30] :null false]]}
