{% extends "base.html" %}
{% block content %}

<a href="/toread/create" class="btn btn-primary" role="button">Add Entry</a>

<hr>

<table class="table">
    <thead>
        <tr>
            {% for col in cols %}
                <td><b>{{col}}</b></td>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for toread in toreads %}
            <tr>
                <td><a href="/toread/{{toread.uuid}}">{{toread.title}}</a></td>
				<td>{{toread.link}}</td><td>{{toread.description}}</td><td>{{toread.done}}</td><td>{{toread.tags}}</td><td>{{toread.author}}</td>
				<td><a class="btn btn-primary" href="/toread/delete/{{toread.UUID}}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
